info-panel
  background var(--background-0)
  bottom 0
  left 0
  overflow-y scroll
  padding var(--header-height) 0 env(safe-area-inset-bottom)
  position fixed
  right 0
  top 0
  transform translateY(100vh)
  transition transform transition ease-out
  z-index 1

  &[open]
    transform translateY(0)

  & > div
    margin 0 auto
    max-width content-max-width
    padding 0 var(--site-padding) 2rem

  h1
  h2
  h3
    webfont-weight(600)

  h1
    font-size var(--h1-font-size)
    margin 0 0 1em

  h2
    font-size var(--h2-font-size)
    margin 2em 0 .5em

  h3
    font-size var(--h3-font-size)
    margin 1em 0 .5em

  p
  table
    font-size var(--copy-font-size)
    margin 0 0 1rem

  tr
    border-bottom 1px solid var(--border-color)

  th
  td
    padding .5em 0

  th
    text-align left
    webfont-weight(600)

  th:not(:first-child)
  td:not(:first-child)
    text-align right

  [no-js] &
    display none
