info-panel
  background var(--fill-1)
  inset 0
  overflow auto
  padding var(--header-height) 0 env(safe-area-inset-bottom)
  position fixed
  transform translateY(100dvh)
  transition transform var(--transition) ease-out
  z-index 1

  &[open]
    transform translateY(0)

  // Content wrapper.
  & > div
    margin-inline auto
    max-inline-size var(--main-max-width)
    padding-block 1rem
    padding-inline var(--gap)

  // Headings.
  h1
    font-size var(--h1-font-size)
    margin-block 0 1rem

  h2
    font-size var(--h2-font-size)
    margin-block 2rem .5rem

  h3
    font-size var(--h3-font-size)
    margin-block 1rem .5rem

  :is(p, table)
    font-size var(--copy-font-size)

  // Tables.
  tr
    border-bottom 1px solid var(--border-color)

  :is(th, td)
    padding-block .5em

  th
    text-align start

  :is(th, td):not(:first-child)
    text-align end

  // JavaScript disabled.
  [no-js] &
    display none
