app-expandable
  webfont(600)
  align-items center
  background var(--marker-canvas-background)
  border-radius (button-height / 2)
  color var(--text)
  cursor pointer
  display flex
  font-size em(14)
  height button-height
  line-height 1
  margin auto
  opacity 1
  padding 0 0 0 rem(20)
  transition opacity transition ease-out
  visibility visible
  white-space nowrap
  width rem(210)

  &[hidden]
    opacity 0
    pointer-events none
    visibility hidden

  &:focus
  &:active
  [no-touch] &:hover
    background var(--marker-background)

  &::before
    css-triangle(var(--text), 5px, 'down')
    content ''
    display inline-block
    margin-right rem(8)
    transition transform transition

  &[expanded]::before
    transform rotate(-180deg)

  [no-touch] &
    transition background transition, color transition
