expand-able
  align-items center
  background var(--background-1)
  border-radius (BUTTON_HEIGHT / 2)
  color var(--text-1-color)
  cursor pointer
  display flex
  font-family 'Avenir Variable', sans-serif
  font-size em(14)
  font-variation-settings 'wght' 600
  height BUTTON_HEIGHT
  line-height 1
  margin auto
  opacity 1
  outline 0
  padding 0 0 0 rem(20)
  transition opacity TRANSITION ease-out
  white-space nowrap
  width rem(210)

  &:focus
  &:active
  [no-touch] &:hover
    background var(--background-2)

expand-able::before
  css_triangle(var(--text-1-color), 5px, 'down')
  content ''
  display inline-block
  margin-right rem(8)
  transition transform TRANSITION

expand-able[aria-expanded='true']::before
  transform rotate(-180deg)

expand-able[hidden]
  opacity 0
  pointer-events none
  visibility hidden

[no-touch] expand-able
  transition background TRANSITION, color TRANSITION
