expand-able
  webfont(600)
  align-items center
  background var(--background-1)
  border-radius (button-height / 2)
  color var(--text-1-color)
  cursor pointer
  display flex
  font-size em(14)
  height button-height
  line-height 1
  margin auto
  opacity 1
  outline 0
  padding 0 0 0 rem(20)
  transition opacity transition ease-out
  white-space nowrap
  width rem(210)

  &:focus
  &:active
  [no-touch] &:hover
    background var(--background-1)

  &::before
    css-triangle(var(--text-1-color), 5px, 'down')
    content ''
    display inline-block
    margin-right rem(8)
    transition transform transition

  &[aria-expanded=true]::before
    transform rotate(-180deg)

  &[hidden]
    opacity 0
    pointer-events none
    visibility hidden

  [no-touch] &
    transition background transition, color transition
