.content
  align-self center
  grid-column 2
  grid-row 2
  justify-self center
  // padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)

// TODO: Relocate these styles.
.user-values
  margin 2rem

dl
  margin 0 0 2rem

dt
  font-size 80%
  letter-spacing .1em
  text-transform uppercase

// dd
  // margin-left 1rem

.description
  opacity .5

.result
  font-size 150%

input[type=number]
  font-size 1em
  margin 0 0 0 1rem
  padding .25rem .5rem
  text-align right
