.content
  align-self center
  display grid
  grid-column 2
  grid-row 2
  grid-template-columns 1fr
  grid-template-rows repeat(2, auto)
  justify-self center
  max-width CONTENT_MAX_WIDTH
  width 100%
