.copyright
  align-items center
  display flex
  font-size var(--fineprint)
  height var(--footer-height)
  justify-content center
  margin 0
  padding 0
  text-align center

.copyright__years
  margin-right px_to_em(8)

.copyright__owner
  link(var(--text), var(--text), var(--symbol), var(--symbol))
  transition color var(--transition)
