.copyright
  align-items center
  display flex
  font-size var(--fineprint)
  height var(--footer-height)
  justify-content center
  margin 0
  padding 0
  text-align center

.copyright__years
  margin-right em(8)

.copyright__owner
  link(var(--app-link), var(--app-link), var(--app-link-active), var(--app-link-active))

.copyright__owner:focus
[no-touch] .copyright__owner:hover
  transition color var(--transition)