:root
  --branding '%s' % Branding.RED
  --button-width rem(44)
  --copy em(14)
  --fineprint rem(12)
  --footer-height rem(48)
  --grid-gap rem(16)
  --h2 em(18)
  --h3 em(16)
  --header-height rem(48)
  --site-header rem(16)
  --transition .3s
  --transition-slow .5s

  @media Breakpoint.MEDIUM
    --copy rem(16)
    --h2 em(21)
    --h3 em(18)
    --site-header rem(20)
    --fineprint rem(14)
    --footer-height rem(60)
    --header-height rem(60)

  // Default light theme.
  --app-link DARK_GREY
  --app-link-active rgba(DARK_GREY, .7)
  --background white
  --border #ddd
  --field-background #d7d7d7
  --focus rgba(black, .5)
  --header-background rgba(white, .97)
  --link '%s' % LinkColor.LIGHT
  --link-visited '%s' % mix(LinkColor.LIGHT, white, 75%)
  --link-hover rgba(black, .8)
  --link-active rgba(black, .8)
  --marker-background #d7d7d7
  --marker-canvas-background #eee
  --table-border #ccc
  --text DARK_GREY
  --warning-color Branding.RED

  // Dark theme per user settings.
  @media (prefers-color-scheme dark)
    --app-link white
    --app-link-active rgba(white, .7)
    --background #262626
    --border #333
    --field-background #555
    --focus white
    --header-background rgba(DARK_GREY, .95)
    --link '%s' % LinkColor.DARK
    --link-background #333
    --link-visited '%s' % mix(LinkColor.DARK, black, 75%)
    --link-hover rgba(white, .8)
    --link-active rgba(white, .8)
    --marker-background #555
    --marker-canvas-background rgba(white, .05)
    --table-border #666
    --text white
    --warning-color Branding.ORANGE
