:root
  --branding '%s' % Branding.RED
  --button-width px_to_rem(44)
  --fineprint px_to_rem(12)
  --footer-height px_to_rem(48)
  --grid-gap px_to_rem(16)
  --header-height px_to_rem(48)
  --site-header px_to_rem(16)
  --sticky-shift 0 // set via JS
  --transition .3s
  --transition-slow .5s

  @media Breakpoint.MEDIUM
    --site-header px_to_rem(20)
    --fineprint px_to_rem(14)
    --footer-height px_to_rem(60)
    --header-height px_to_rem(60)

  // Default light theme.
  --background white
  --border #ddd
  --field-background #d7d7d7
  --focus rgba(black, .5)
  --header-background rgba(white, .97)
  --link DARK_GREY
  --link-active rgba(DARK_GREY, .7)
  --marker-background #d7d7d7
  --marker-canvas-background #eee
  --text DARK_GREY
  --warning-color Branding.RED

  // Dark theme per user settings.
  @media (prefers-color-scheme dark)
    --background #262626
    --border #333
    --field-background #555
    --focus white
    --header-background rgba(DARK_GREY, .95)
    --link white
    --link-active rgba(white, .7)
    --marker-background #555
    --marker-canvas-background rgba(white, .05)
    --text white
    --warning-color Branding.ORANGE
