fancy-marker
  background var(--marker-canvas-background)
  border-radius 4px
  display block
  position relative
  z-index 1

fancy-marker .marker
  background var(--marker-background)
  border-radius 4px
  height 100%
  left var(--marker-left)
  position absolute
  top 0
  transition left var(--transition) ease-out, width var(--transition) ease-out
  width var(--marker-width)
  z-index -1
