// [1] Knockout via theme's body background.
.header
  background var(--green)
  color var(--background) // [1]
  height var(--header-height)
  left 0
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  right 0
  top 0
  transform translate3d(0, var(--sticky-shift), 0)
  z-index 2

.header__frame
  align-items center
  display flex
  height var(--header-height)
  justify-content space-between
  margin 0 auto
  max-width CONTENT_WIDTH_LARGE
  padding 0 var(--grid-gap)

  @media Breakpoint.LARGE
    padding 0

.header__title
  font-size var(--site-header)
  line-height 1
  margin 0
  white-space nowrap
