header
  background var(--header-background)
  border-bottom 1px solid var(--border)
  height var(--header-height)
  left 0
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  right 0
  top 0
  z-index 2

header > div
  align-items center
  display flex
  height var(--header-height)
  justify-content space-between
  margin 0 auto
  max-width content-max-width
  padding 0 var(--site-padding-x)

header h1
  font-size var(--app-title)
  line-height 1
  margin 0
  white-space nowrap
