.header
  background var(--header-background)
  border-bottom 1px solid var(--border)
  height var(--header-height)
  left 0
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  right 0
  top 0
  z-index 2

.header__frame
  align-items center
  display flex
  height var(--header-height)
  justify-content space-between
  margin 0 auto
  padding 0 var(--grid-gap)

  @media Breakpoint.MEDIUM
    max-width CONTENT_MAX_WIDTH
    padding 0

.header__title
  font-size var(--site-header)
  line-height 1
  margin 0
  white-space nowrap
