all_webfonts()

html
body
  webfont()
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

body
  background var(--background)
  color var(--text)
  display grid
  grid-template-columns var(--grid-gap) 1fr var(--grid-gap)
  grid-template-rows var(--header-height) 1fr auto
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)

*
  box-sizing border-box
  user-select none

a
  link(var(--link), var(--link-visited), var(--link-hover), var(--link-active))
  text-decoration none

  &:focus
    outline none

  [no-touch] &
    transition color var(--transition) ease-out

table
  border-collapse collapse
  width 100%

input
button
  appearance none
  background 0
  border 0
  margin 0
  padding 0
  user-select auto

a:focus
input:focus
button:focus
  outline 0

input[type=radio]
  height 0
  width 0

input[type=text]
input[type=number]
  webfont()

  &:focus
    border-color var(--focus)

  &:invalid
    color var(--warning-color)

// Hide the tiny up/down buttons within a number input.
input[type=number]
  -moz-appearance textfield

  &::-webkit-inner-spin-button
  &::-webkit-outer-spin-button
    appearance none
    margin 0

svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

svg path
  fill currentColor
