.info-toggle
  margin 0 0 0 auto
  position relative
  z-index 1

.info-toggle__button
  align-items center
  color var(--link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  transition color var(--transition), transform var(--transition)
  width var(--button-width)

.info-toggle__icon
  flex 0 0 1.25rem
