.info
  margin 0 -.75rem 0 auto

.info__button
  align-items center
  color var(--app-link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  transition color var(--transition), transform var(--transition)
  width var(--button-width)

.info__button:focus
.info__button:active
[no-touch] .info__button:hover
  color var(--app-link-active)

.info__button:active
  transform scale(.8)

.info__icon
  flex 0 0 1.25rem

.info__panel
  background var(--background)
  height calc(100vh - var(--header-height))
  left 0
  overflow auto
  position fixed
  top var(--header-height)
  transform translateY(100%)
  transition transform var(--transition)
  width 100vw
  z-index 1

.info[open] > .info__panel
  transform translateY(0)

.info__copy
  margin 0 auto
  padding 1rem 

  @media Breakpoint.MEDIUM
    max-width CONTENT_MAX_WIDTH
    padding 1rem 0

.info__copy > h3
  webfont_weight(600)
  font-size var(--h3)
  margin 1.5rem 0 .5rem

.info__copy > h3:first-of-type
  margin-top 0

.info__copy > p
.info__copy > table
  font-size var(--copy)
  margin 0 0 1rem

.info__copy tr
  border-bottom 1px solid var(--table-border)

.info__copy th
.info__copy td
  padding .5em 0

.info__copy th
  text-align left
  webfont_weight(600)

.info__copy th:last-child
.info__copy td:last-child
  text-align right
