.info
  margin 0 0 0 auto
  position relative
  z-index 1

.info__toggle
  align-items center
  color var(--link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  transition color var(--transition), transform var(--transition)
  width var(--button-width)

.info__icon
  flex 0 0 1.25rem

.info__panel
  background var(--background)
  left 0
  max-height 100vh
  opacity 0
  overflow auto
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  top 0
  transform translateY(100%)
  transition opacity var(--transition) ease-out, transform var(--transition) ease-out
  width 100vw
  z-index -1

.info[open] .info__panel
  opacity 1
  transform translateY(0)
  z-index 2

.info__panel__content
  margin 0 auto
  padding 1.5rem

  @media Breakpoint.MEDIUM
    max-width CONTENT_MAX_WIDTH
    padding 1.5rem 0

.info__heading
  margin-top 0
