.info-panel
  background var(--background)
  height calc(var(--viewport-unit, 1vh) * 100)
  left 0
  position fixed
  top 0
  transform translateY(100%)
  transition transform var(--transition)
  width 100vw
  z-index -1

.info-panel[open]
  transform translateY(0)
  z-index 1

.info-panel__content
  height calc(100% - var(--header-height))
  margin var(--header-height) auto 0
  overflow auto
  padding 1rem 

  @media Breakpoint.MEDIUM
    max-width CONTENT_MAX_WIDTH
    padding 1rem 0

.info-panel p
.info-panel li
.info-panel table
  font-size var(--copy)

.info-panel tr
  border-bottom 1px solid var(--border)

.info-panel th
  text-align left

.info-panel th
.info-panel td
  padding .5em 0

.info-panel h2
  font-size var(--h2)

.info-panel h3
  font-size var(--h3)

.info-panel img
  max-width 75%

.info__heading
  margin-top 0
