zig-zag
  display flex
  flex-direction column

zig-zag > app-expandable
  margin 0 0 2rem
  order 2

.table
  border-radius 8px
  border-left 1px solid var(--zebra-stripe)
  border-right 1px solid var(--zebra-stripe)
  opacity 1
  overflow-y hidden
  transition height var(--transition-slow) ease-out, margin var(--transition-slow) ease-out, opacity var(--transition-slow) ease-out

.table[expanded]
  margin 0 0 2rem

.table[hidden]
  display none

th
td
  padding .25rem .5rem
  text-align right

  &:first-child
    text-align left

tr:nth-child(odd)
  background var(--zebra-stripe)
