zig-zag
  display flex
  flex-direction column

zig-zag > app-expandable
  margin 0 0 2rem
  order 2

.table
  background var(--marker-canvas-background)
  border-radius 8px
  opacity 1
  overflow-y hidden
  transition height var(--transition-slow) ease-out, margin var(--transition-slow) ease-out, opacity var(--transition-slow) ease-out

.table[expanded]
  margin 0 0 2rem

.table[hidden]
  display none

th
td
  padding .5rem .75rem
  text-align right

  &:first-child
    text-align left

tr:not(:last-child)
  border-bottom 1px solid var(--background)
