.values
  margin 0
  padding 0

.values--activity
.values--loss
  display flex
  flex-wrap wrap

.values--activity > .values__heading
.values--loss > .values__heading
  flex-basis 100%

.values--activity > .values__item
.values--loss > .values__item
  flex 1

.values__label--activity
.values__label--goal
  width 100%

.values__heading
  margin .5rem 0

.values__heading > span
  opacity .7

.values__heading > span::before
  content '('

.values__heading > span::after
  content ')'

.values__item
  align-items center
  display flex
  margin 0 0 .75rem
  padding 0

.values__item--sex::before
  content 'Sex'

.values__item--feet
.values__item--inches
  display inline-flex

.values__item--feet::before
  content 'Height'

.values__item--feet > label
.values__item--inches > label
  margin 0 .75rem 0 .375rem
  opacity .5
  order 2

.values__item--activity
.values__item--goal
  display inline-flex
  padding 0 1rem 0 0

.values__label
  align-items center
  display flex

.values__label--sex:not(:first-of-type)
  margin-left 1rem

.values__item--sex::before
.values__item--feet::before
.values__label--age
.values__label--weight
  width 5rem

.values__input[type=number]
  font-size 1em
  text-align right
  width 3.5rem

.values__item--weight::after
.values__item--age::after
  margin-left .5em
  opacity .6
  pointer-events none

.values__item--weight::after
  content 'lbs.'

.values__item--age::after
  content 'years'

input[type=number]
input[type=radio] ~ span
  border-radius 4px
  padding .375rem .5rem

input[type=number]
input[type=radio]:checked ~ span
  background rgba(black, .05)

input[type=radio] ~ span
  text-align center
  width 100%

.result
  font-size 200%
  margin 2rem
  text-align center

.result::after
  content 'kcal'
  margin-left .5rem
  opacity .6