user-values
  display block

.values
  margin 2rem 0

.values__group
  margin 0 0 1.5rem

.values__group--sex
  margin-bottom 2rem

.values__group--metrics
  margin-bottom .5rem

.values__heading
  display flex
  margin 0 0 .5rem

.values__heading--sex
  left -100vw
  position absolute

.values__heading__note
  opacity TEXT_OPACITY
  margin-left auto

.values__list
.values__item
  align-items center
  display flex
  padding 0

.values__list
  margin 0

.values__list--metrics
  flex-wrap wrap

.values__item
  margin 0 0 1rem

.values__item--weight
.values__item--age
  flex 0 0 100%

.values__item--feet::before
  content 'Height'

.values__item--activity
.values__item--goal
.values__item--sex
  flex 1
  height INPUT_HEIGHT
  margin 0

.values__label
  display flex
  transition color var(--transition)

.values__label--activity
.values__label--goal
.values__label--sex
  height 100%
  padding 0 1rem
  width 100%

.values__label--activity:active
.values__label--goal:active
.values__label--sex:active
  transform scale(.7)
  transition transform var(--transition)

.values__label--feet
.values__label--inches
  margin 0 1rem 0 .5rem
  opacity TEXT_OPACITY
  order 2
  text-transform lowercase

.values__item--feet::before
.values__label--age
.values__label--weight
  width 4.55rem

[no-touch] .values__label--sex:hover
[no-touch] .values__label--activity:hover
[no-touch] .values__label--goal:hover
  cursor pointer

.values__input[type=number]
  background var(--field-background)
  border 2px solid transparent
  border-radius 4px
  color var(--text)
  font-size 1em
  height INPUT_HEIGHT
  padding 0 .5rem
  text-align right
  width 3rem

.values__input[type=number]:focus
  border-color var(--focus)

// [1] Disable pointer events on elements within radio button labels so that
// iOS Safari can register a tap on the label.
.values__input[type=radio] ~ .values__label__caption
  align-items center
  border-radius 2px
  display flex
  justify-content center
  pointer-events none // [1]
  width 100%

.values__input[type=radio]:focus ~ .values__label__caption
  transform scale(1.2)
  transition transform var(--transition)

.values__item--weight::after
.values__item--age::after
  margin-left .5em
  opacity TEXT_OPACITY
  pointer-events none

.values__item--weight::after
  content 'lbs.'

.values__item--age::after
  content 'yrs.'
