.expandable
  opacity 1
  transition opacity var(--transition) ease

.expandable[hidden]
  opacity 0
  pointer-events none

// [1] Knockout color = theme's body background.
.expandable__button
  webfont(600)
  align-items center
  background 0
  border 2px solid var(--text)
  border-radius (BUTTON_HEIGHT / 2)
  color var(--text)
  display flex
  font-size px_to_em(14)
  height BUTTON_HEIGHT
  justify-content center
  line-height 1
  margin auto
  padding 0 px_to_rem(16)
  white-space nowrap

[no-touch] .expandable__button
  transition border var(--transition) ease, color var(--transition) ease

.expandable__button:focus
.expandable__button:active
[no-touch] .expandable__button:hover
  background var(--text)
  color var(--background) // [1]
  cursor pointer

// [1] Knockout via theme's body background.
.expandable__button::before
  css_triangle(var(--text), 5px, 'down') // [1]
  content ''
  display inline-block
  margin-right px_to_rem(8)
  transition transform var(--transition)

.expandable[expanded] > .expandable__button::before
  transform rotate(-180deg)

.expandable__button:focus::before
.expandable__button:active::before
[no-touch] .expandable__button:hover::before
  border-top-color var(--background)
