.expandable
  display flex
  justify-content center
  opacity 1
  transition opacity TRANSITION ease-out

.expandable[hidden]
.expandable:not([hidden])
  transition opacity TRANSITION

.expandable[hidden]
  opacity 0
  pointer-events none
  visibility hidden

.expandable:not([hidden])
  opacity 1
  visibility visible

// [1] Knockout color = theme's body background.
.expandable__button
  webfont(600)
  align-items center
  background var(--marker-canvas-background)
  border-radius (BUTTON_HEIGHT / 2)
  color var(--text)
  display flex
  font-size em(14)
  height BUTTON_HEIGHT
  line-height 1
  padding 0 0 0 rem(20)
  white-space nowrap
  width rem(210)

[no-touch] .expandable__button
  transition background TRANSITION, color TRANSITION

.expandable__button:focus
.expandable__button:active
[no-touch] .expandable__button:hover
  background var(--marker-background)
  cursor pointer

.expandable__button::before
  css_triangle(var(--text), 5px, 'down')
  content ''
  display inline-block
  margin-right rem(8)
  transition transform TRANSITION

.expandable[expanded] > .expandable__button::before
  transform rotate(-180deg)
