.expandable
  display flex
  justify-content center
  opacity 1
  transition opacity var(--transition) ease

.expandable[hidden]
  opacity 0
  pointer-events none

// [1] Knockout color = theme's body background.
.expandable__button
  webfont(600)
  align-items center
  background var(--marker-canvas-background)
  border-radius (BUTTON_HEIGHT / 2)
  color var(--text)
  display flex
  font-size px_to_em(14)
  height BUTTON_HEIGHT
  justify-content center
  line-height 1
  padding 0 px_to_rem(24)
  white-space nowrap

[no-touch] .expandable__button
  transition background var(--transition), color var(--transition)

.expandable__button:focus
.expandable__button:active
[no-touch] .expandable__button:hover
  background var(--marker-background)
  cursor pointer

.expandable__button::before
  css_triangle(var(--text), 5px, 'down')
  content ''
  display inline-block
  margin-right px_to_rem(8)
  transition transform var(--transition)

.expandable[expanded] > .expandable__button::before
  transform rotate(-180deg)
