zig-zag > app-expandable
  margin 0 0 2rem

.zig-zag
  grid-column 1
  grid-row 2

.zig-zag__data
  margin 0
  overflow hidden
  transition height var(--transition-slow) ease-out, margin var(--transition-slow) ease-out
  will-change height

.zig-zag__data[expanded]
  margin 0 0 2rem

.zig-zag__day
  background var(--marker-background)
  border-radius 0 4px 4px 0
  display flex
  margin .375rem 0
  padding .375rem .5rem
  transition background var(--transition), color var(--transition), width var(--transition-slow) ease-out

// Bootstrap warning colors.
.zig-zag__day.warning
  background #f8d7da
  color #721c24

.zig-zag__day.warning .zig-zag__label
  opacity 1

.zig-zag__label
  margin-right .5rem
  opacity TEXT_OPACITY
  transition opacity var(--transition-slow) ease-out

.zig-zag__value
  margin-left auto
