zig-zag > app-expandable
  margin 0 0 2rem

.zig-zag
  margin 0
  overflow hidden
  transition height var(--transition-slow) ease-out, margin var(--transition-slow) ease-out
  will-change height

.zig-zag[expanded]
  margin 0 0 2rem

.zig-zag__day
  display flex
  justify-content space-between
  margin .375rem 0

.zig-zag__label
  background var(--marker-background)
  border-radius 0 4px 4px 0
  margin-right 1rem
  padding .375rem .5rem
  width var(--width)
  transition width var(--transition-slow) ease-out

.zig-zag__value
  padding .25rem 0
