zig-zag > app-expandable
  margin 0 0 2rem

.zig-zag
  margin 0
  overflow hidden
  transition height var(--transition-slow) ease-out, margin var(--transition-slow) ease-out
  will-change height

.zig-zag[expanded]
  margin 0 0 2rem

.zig-zag__day
  border-bottom 1px solid var(--border)
  display flex
  justify-content space-between
  padding .5rem 0
