number-ticker
  display block
  transition opacity TRANSITION

number-ticker[hidden]
  opacity 0

[id='results']
  background -webkit-linear-gradient(BRAND_ORANGE, BRAND_RED)
  -webkit-background-clip text
  font-size 300%
  grid-area results
  line-height 1
  padding-block 0 1em
  padding-inline 0
  place-self center
  position relative
  text-align center
  -webkit-text-fill-color transparent

[id='results']::after
  background inherit
  content attr(label)
  display block
  font-size 1rem
  inline-size 100%
  inset-block auto 0
  line-height initial
  position absolute
  text-transform lowercase
