number-ticker {
  display: block;
  transition: opacity var(--transition);

  &[hidden] {
    opacity: 0;
  }
}

[id='results'] {
  background: -webkit-linear-gradient(var(--brand-orange), var(--brand-red));
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 400%;
  grid-area: results;
  inline-size: 100%;
  line-height: 1;
  margin-block: var(--results-margin-gap, .75em);
  padding-block: 0 1.5rem;
  place-self: center;
  position: relative;
  text-align: center;
  -webkit-text-fill-color: transparent;

  &::after {
    background: inherit;
    content: attr(label);
    display: block;
    font-size: 1rem;
    inline-size: 100%;
    inset-block: auto 0;
    line-height: initial;
    position: absolute;
    text-transform: lowercase;
    white-space: nowrap;
  }
}