/**
 * [1] Prevent the app from scrolling with opened <dialog>. Otherwise, bits
 * of the app can scroll into view behind/under the <dialog> when scrolling
 * its contents.
 */
calories-app {
  background-color: var(--fill-1);
  border: var(--app-border);
  border-radius: var(--app-border-radius, 0);
  display: grid;
  gap: var(--app-gap, var(--gap));
  grid: var(--app-grid);
  margin: var(--app-margin);
  max-inline-size: var(--app-max-inline-size);
  min-block-size: var(--app-min-block-size, 100dvh);
  overflow: hidden;
  padding-block: 0;
  padding-inline: var(--gap);
  place-self: var(--app-place-self, start center);
  position: relative;

  @media (orientation: portrait) {
    &:has(dialog[open]) {
      block-size: 100dvh;  /* [1] */
    }
  }

  h1 {
    font-size: var(--h1-font-size);
    grid-area: title;
    line-height: 1;
    margin-block: 0;
    place-self: center start;
    white-space: nowrap;
  }

  /**
   * Results <calories-ticker> element.
   * [1] Prevent layout shift on first run transition.
   */
  & > calories-ticker {
    background: -webkit-linear-gradient(var(--brand-orange), var(--brand-red));
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 400%;
    grid-area: results;
    inline-size: 100%;
    line-height: 1;
    margin-block: var(--results-margin-gap, .75em);
    padding-block: 0 1.5rem;
    place-self: center;
    position: relative;
    text-align: center;
    -webkit-text-fill-color: transparent;

    @media (orientation: landscape) {
      &[hidden] {
        display: block;  /* [1] */
      }
    }
  }

  & > calories-ticker::after {
    background: inherit;
    content: attr(label);
    display: block;
    font-size: 1rem;
    inline-size: 100%;
    inset-block: auto 0;
    line-height: initial;
    position: absolute;
    text-transform: lowercase;
    white-space: nowrap;
  }
}