@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:where(*) {
  box-sizing: border-box;
}

html {
  block-size: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

body {
  background: var(--body-fill);
  color: var(--text-color);
  display: grid;
  font: var(--font);
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
  padding-block: 0 env(safe-area-inset-bottom);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  // JavasScript disabled.
  &.no-js {
    align-items: center;
  }
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  @media (any-hover: hover) {
    transition: color var(--transition) ease-out;
  }
}

input,
button {
  appearance: none;
  background: 0;
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: auto;
}

input[type='radio'] {
  block-size: 0;
  inline-size: 0;
}

input[type='text'] {
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;

  &:focus-visible {
    border-color: var(--text-color);
  }

  &:invalid {
    color: var(--warning-color);
  }
}

svg {
  block-size: auto;
  inline-size: 100%;
  pointer-events: none;
  vertical-align: middle;
}

svg path {
  fill: currentColor;
}
