@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:where(*) {
  box-sizing: border-box;
}

html {
  block-size: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

body {
  background: var(--body-fill);
  color: var(--text-color);
  display: grid;
  font: var(--font);
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
  padding-block: 0 env(safe-area-inset-bottom);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  background: var(--fill-1);
  border: var(--main-border);
  border-radius: 1em;
  display: grid;
  gap: var(--main-gap, var(--gap));
  grid: var(--main-grid);
  margin-inline: var(--main-margin-inline);
  max-inline-size: var(--main-max-width);
  min-block-size: var(--main-min-block-size, 100dvh);
  overflow: hidden;
  padding-block: 0;
  padding-inline: var(--gap);
  place-self: var(--main-place-self, start center);
  position: relative;

  // JavasScript disabled.
  .no-js & {
    align-items: center;
    grid: unset;
  }
}

// Prevent the app from scrolling when the dialog is open. Otherwise, bits of
// the app can scroll into view behind and under the dialog when scrolling the
// contents of the dialog.
@media (orientation: portrait) {
  main:has(.dialog[data-open]) {
    block-size: 100dvh;
  }
}

h1 {
  font-size: var(--h1-font-size);
  grid-area: title;
  line-height: 1;
  margin-block: 0;
  place-self: center start;
  white-space: nowrap;

  .no-js & {
    display: none;
  }
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  @media (any-hover: hover) {
    transition: color var(--transition) ease-out;
  }
}

input,
button {
  appearance: none;
  background: 0;
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: auto;
}

input[type='radio'] {
  block-size: 0;
  inline-size: 0;
}

input[type='text'] {
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;

  &:focus-visible {
    border-color: var(--text-color);
  }

  &:invalid {
    color: var(--warning-color);
  }
}

svg {
  block-size: auto;
  inline-size: 100%;
  pointer-events: none;
  vertical-align: middle;
}

svg path {
  fill: currentColor;
}
