calories-info {
  display: contents;

  button {
    aspect-ratio: 1;
    border-radius: var(--button-size);
    color: inherit;
    cursor: pointer;
    grid-area: info;
    inline-size: var(--button-size);
    inset-inline: auto -.75em;
    place-self: center end;
    position: relative;
    transition: opacity var(--transition), transform var(--transition);
    z-index: 3;

    &[data-type='closer'] {
      background-color: var(--button-background);
    }

    [hidden] > & {
      opacity: 0;
    }

    &:focus-visible {
      background-color: var(--button-background-focus);
    }

    &.touch {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      & {
        transition: background-color var(--transition), opacity var(--transition-slow) ease-out, transform var(--transition);
      }

      &:hover {
        background-color: var(--button-background-focus);
      }

      &:active {
        transform: scale(.8);
      }
    }
  }

  /**
   * [1] Override defaults to enable transitions.
   * [2] Ensure closed <dialog> occupies no space since app can be taller than
   *     viewport on small/portrait screens.
   */
  dialog {
    background-color: var(--app-background);
    block-size: 100%;
    border: none;
    color: inherit;
    display: block;  /* [1] */
    inline-size: 100%;
    max-block-size: 100dvh;
    outline: none;
    overflow: auto;
    padding: 0;
    scrollbar-width: none;
    transition: transform var(--transition);
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
    }

    &[inert] {
      transform: translateY(100%);
    }

    &:not([open]) {
      block-size: 0;  /* [2] */
    }
  }

  /**
   * Content wrapper.
   */
  article {
    margin-inline: auto;
    max-inline-size: 48ch;
    padding-block: 1em;
    padding-inline: var(--gap);
  }

  /**
   * Headings.
   */
  h1 {
    font-size: var(--h1-font-size);
    grid-area: 1 / 2;
    margin-block: 0 1em;
  }

  :is(h2, h3) {
    font-variation-settings: 'wght' 600;
    margin-block: 1em .5em;
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  :is(p, table) {
    font-size: var(--copy-font-size);
  }

  /**
   * Tables
   */
  table {
    border-collapse: collapse;
    inline-size: 100%;
  }

  tr {
    border-bottom: 1px solid var(--gray2);
  }

  th {
    text-align: start;
  }

  :is(th, td) {
    padding-block: .5em;
  }

  :is(th, td):not(:first-child) {
    text-align: end;
  }
}

/**
 * Icon buttons.
 */
.icon {
  inline-size: 1.5rem;
  pointer-events: none;

  path {
    stroke-linecap: round;
    stroke-width: 2;
  }
}

.icon--close {
  path {
    stroke: var(--text-color);
  }
}

.icon--info {
  border: 2px solid var(--text-color);
  border-radius: 1.5rem;

  path {
    fill: none;
    stroke: currentColor;
  }
}