/**
 * The custom element displays as a tray containing radio buttons with a marker
 * that slides to the selected radio button.
 */
calories-marker {
  align-items: center;
  background-color: var(--markers-background);
  border: var(--markers-border);
  border-radius: 8px;
  display: flex;
  padding: 4px;
  position: relative;
  z-index: 1;

  &:focus-within {
    border-color: var(--border-color-focus);
  }

  /**
   * Each radio button is within a <label> for easier clicking, and the text
   * of each <label> is within a <span> for sibling element styling.
   */
  label {
    flex: 1;
  }

  span {
    block-size: var(--input-size);
  }

  /**
   * Marker underneath the radio buttons that slides over to the checked one.
   * NOTE: The --block-size and --inline-size values are set by JS.
   * [1] Logical properties don't work with Safari here, so we have to use
   *     'left' and 'top' instead of 'inset-*' properties.
   */
  &::after {
    background-color: var(--marker-background);
    block-size: var(--block-size);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    content: '';
    display: block;
    inline-size: var(--inline-size);
    left: var(--inset-block-start);  /* [1] */
    position: absolute;
    top: 4px;  /* [1] */
    transition: left var(--transition) ease-out, inline-size var(--transition) ease-out;
    z-index: -1;
  }
}
