calories-values {
  --toggle-size: 1.5rem;

  display: block;
  grid-area: values;
  place-self: end stretch;

  [disabled] {
    opacity: .3;
    pointer-events: none;
  }

  form {
    display: flex;
    flex-flow: column;
    gap: .75em;
  }

  fieldset {
    border: 0;
    opacity: 1;
    padding: 0;
    transition: opacity var(--transition);
  }

  h2 {
    display: flex;
    font-size: 1em;
    margin-block: .5em;
  }

  h2 > span {
    color: var(--text-color-secondary);
    margin-inline: auto 0;
  }

  /**
   * Lists for radio buttons.
   */
  :is(ul, li) {
    align-items: center;
    display: flex;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  /**
   * Metric/Imperial units toggle.
   */
  [id='units'] {
    background-color: var(--button-background);
    block-size: var(--input-size);
    border: var(--button-border);
    border-radius: var(--input-size);
    color: inherit;
    cursor: pointer;
    display: block;
    font: var(--font);
    font-size: .9em;
    font-variation-settings: 'wght' 500;
    inline-size: 5em;
    inset-block: calc(50% - calc(var(--input-size) / 2)) auto;
    inset-inline: auto 0;
    padding-inline: .75em;
    position: absolute;
    transition: background-color var(--transition), border-color var(--transition), transform var(--transition);
    white-space: nowrap;

    /* Units toggle text. */
    span {
      pointer-events: none;
    }

    &:focus-visible {
      border-color: var(--border-color-focus);
    }

    &.touch {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--button-background-focus);
        border: var(--button-border-focus);
        
        span {
          opacity: 1;
        }
      }

      &:active {
        transform: scale(.8);
      }
    }
  }

  /**
   * Adjustments for individual sections and fields.
   */
  [id='measurements'] {
    position: relative;
  }

  [id='measurements'] ul {
    flex-wrap: wrap;
    gap: .75rem;
  }

  :where(.age, .height, .weight) {
    flex: 0 0 100%;
  }

  /**
   * Wrapper for <input> and <span> elements.
   */
  label {
    cursor: pointer;
    display: flex;
    outline: none;
  }

  label:where([for='age'], [for='height'], [for='weight']) {
    inline-size: var(--label-size);
  }

  /**
   * Text inputs.
   */
  [type='text'] {
    background-color: var(--input-background);
    block-size: var(--input-size);
    border: var(--input-border);
    border-radius: 6px;
    box-sizing: content-box;
    color: var(--text-color);
    font-size: 1em;
    inline-size: 3.5rem;
    padding-inline: .5rem;
    text-align: end;
  }

  .units {
    color: var(--text-color-secondary);
    margin-inline: .5em;
    pointer-events: none;
  }

  /**
   * Text labels for radio buttons.
   */
  [type='radio'] + span {
    align-items: center;
    border-radius: 2px;
    display: flex;
    inline-size: 100%;
    justify-content: center;
    pointer-events: none;
    transition: color var(--transition);
  }

  [type='radio']:not(:checked) + span {
    color: var(--text-color-secondary);
  }

  label:focus-visible > [type='radio'] + span {
    color: var(--text-color);
  }

  @media (any-hover: hover) {
    label:hover > [type='radio'] + span {
      color: var(--text-color);
    }
  }
}

