/**
 * Layout.
 */
:root {
  --app-gap: 0;
  --app-grid: 'title info' var(--header-size) 'values values' 'results results' 'graph graph' 1fr '. .' var(--header-size) / 1fr var(--button-size);
  --app-max-inline-size: 24em;  /* NOTE: Value matches media query 'min-width' below. */

  --button-size: 3em;
  --gap: 1em;
  --header-size: 3em;
  --input-size: 2em;
  --label-size: 4em;

  /**
   * Background color for <body> is defined with layout vars instead of with
   * theming vars since it changes relative to viewport size.
   */
  --body-background: var(--fill-0);

  /* NOTE: Media query 'min-width' value matches '--app-max-inline-size' above. */
  @media (min-width: 24em) {
    & {
      --app-border: var(--border);
      --app-border-radius: 1.5em;
      --app-margin: var(--gap);
      --app-min-block-size: none;

      --body-background: var(--fill-1);
    }
  }

  @media (orientation: landscape) {
    & {
      --app-gap: 0 var(--gap);
      --app-grid: 'title info' var(--header-size) 'values results' 'values graph' '. .' var(--gap) / 1fr 1fr;
      --app-margin: var(--gap);
      --app-max-inline-size: 48em;
      --app-place-self: center;

      --dialog-block-size: 100%;
      --dialog-offset: 100%;
      
      --results-margin-gap: 0 .5em;
    }
  }
}

/**
 * Global vars for typography and theming with colors via Apple HIG.
 * @see https://developer.apple.com/design/human-interface-guidelines/color
 */
:root {
  /**
   * Typography.
   */
  --copy-font-size: .875em;
  --font: clamp(1em, .75em + 1vw, 1.25em) / 1.4 var(--font-family);
  --font-family: 'Avenir Variable', sans-serif;
  --h1-font-size: 1.125em;
  --h2-font-size: 1em;
  --h3-font-size: .875em;

  /**
   * Animations and transitions.
   */
  --transition: .3s;
  --transition-slow: .5s;

  /**
   * Branding colors.
   */
  --brand-red: rgb(178, 34, 34);
  --brand-orange: rgb(255, 122, 0);

  /**
   * Grays.
   */
  --gray1: rgb(142, 142, 147);
  --gray1-dark: rgb(142, 142, 147);

  --gray2: rgb(174, 174, 178);
  --gray2-dark: rgb(99, 99, 102);
  
  --gray3: rgb(199, 199, 204);
  --gray3-dark: rgb(72, 72, 74);
  
  --gray4: rgb(209, 209, 214);
  --gray4-dark: rgb(58, 58, 60);
  
  --gray5: rgb(229, 229, 234);
  --gray5-dark: rgb(44, 44, 46);
  
  --gray6: rgb(242, 242, 247);
  --gray6-dark: rgb(28, 28, 30);

  /**
   * Colors.
   */
  --red: rgb(255, 56, 60);
  --red-dark: rgb(255, 66, 69);
  --red-contrast: rgb(233, 21, 45);  
  --red-dark-contrast: rgb(255, 97, 101);

  --blue: rgb(0, 136, 255);
  --blue-dark: rgb(0, 145, 255);
  --blue-contrast: rgb(30, 110, 244);      
  --blue-dark-contrast: rgb(92, 184, 255);
  
  --indigo: rgb(97, 85, 245);
  --indigo-dark: rgb(109, 124, 255);
  --indigo-contrast: rgb(86, 74, 222);  
  --indigo-dark-contrast: rgb(167, 170, 255);

  /**
   * Light mode theming.
   */
  --fill-0: white;
  --fill-1: var(--gray6);
  --fill-2: var(--gray5);
  --fill-3: var(--gray4);
  --fill-4: var(--gray3);

  --app-background: var(--fill-0);
  --border: 1px solid var(--fill-2);
  --border-color-focus: var(--indigo);

  --button-background: var(--fill-1);
  --button-background-focus: var(--fill-2);
  --button-border: 2px solid var(--button-background);
  --button-border-focus: 2px solid var(--button-background-focus);

  --input-background: var(--fill-1);
  --input-border: 2px solid var(--app-background);

  --markers-background: var(--fill-1);
  --markers-border: 2px solid var(--app-background);
  --marker-background: var(--fill-0);

  --link-color: var(--blue-contrast);
  --link-color-focus: var(--red);
  --link-color-visited: var(--indigo-contrast);
  
  --text-color: black;
  --text-opacity: .7;

  --warning-background: rgb(246, 234, 236);
  --warning-color: rgb(202, 36, 48);
}


@media (prefers-color-scheme: dark) {
  /**
   * Dark mode theming.
   */
  :root {
    --fill-0: black;
    --fill-1: var(--gray6-dark);
    --fill-2: var(--gray5-dark);
    --fill-3: var(--gray4-dark);
    --fill-4: var(--gray3-dark);
    --fill-5: var(--gray2-dark);

    --app-background: var(--fill-1);
    --body-background: var(--fill-0);
    --border-color-focus: var(--indigo-dark-contrast);
    --button-background: var(--fill-4);
    --button-background-focus: var(--fill-5);
    --input-background: var(--fill-4);
    --markers-background: var(--fill-2);
    --marker-background: var(--fill-4);

    --link-color: var(--blue-dark-contrast);
    --link-color-focus: var(--red-dark-contrast);
    --link-color-visited: var(--indigo-dark-contrast);
      
    --text-color: white;

    --warning-background: rgb(64, 39, 46);
    --warning-color: rgb(254, 127, 140);
  }
}

@media (prefers-color-scheme: dark) and (min-width: 24em) {
  :root {
    --body-background: var(--fill-0);
  }
}
