/**
 * [1] Prevent layout shift on first run transition.
 */
calories-zigzag {
  grid-area: graph;
  place-self: end stretch;
  transition: opacity var(--transition) ease-out;

  &[hidden] {
    opacity: 0;

    @media (orientation: landscape) {
      display: block;  /* [1] */
    }
  }

  ol {
    display: grid;
    gap: .5em;
    grid: auto-flow / 1fr;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: var(--zig-zag-background); 
    border-radius: 0 4px 4px 0;
    display: flex;
    gap: 0 .5em;
    padding: .375em .5em;
    transition: background var(--transition), color var(--transition), inline-size var(--transition-slow) ease-out;
  }

  span {
    color: var(--text-color-secondary);
    flex: 1;
    transition: color var(--transition-slow) ease-out;
  }

  .warning {
    background-color: var(--warning-background);
    color: var(--warning-color);
  }
}

