fancy-marker
  align-items center
  background var(--marker-canvas-background)
  border-radius 8px
  display flex
  padding 4px
  position relative
  z-index 1

fancy-marker > label
  flex 1

fancy-marker > label > span
  height input-height

fancy-marker > .marker
  background var(--marker-background)
  border-radius 4px
  height var(--height)
  left var(--left)
  position absolute
  top 4px
  transition left transition ease-out, width transition ease-out
  width var(--width)
  z-index -1
