// Brand colors.
brand-red = #b22222 // firebrick
brand-orange = #ff7a00

// Link colors.
link-color = #0079fd
link-color-dark = #0a84fe

// Grays palette.
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color
gray-1 = rgb(142, 142, 147)
gray-2 = rgb(174, 174, 178)
gray-3 = rgb(199, 199, 204)
gray-4 = rgb(209, 209, 214)
gray-5 = rgb(229, 229, 234)
gray-6 = rgb(242, 242, 247)

gray-1-dark = rgb(142, 142, 147)
gray-2-dark = rgb(99, 99, 102)
gray-3-dark = rgb(72, 72, 74)
gray-4-dark = rgb(58, 58, 60)
gray-5-dark = rgb(44, 44, 46)
gray-6-dark = rgb(28, 28, 30)

// Default light mode colors.
background-0 = white
background-1 = gray-6
background-2 = gray-3
border-color = gray-3
text-1-color = black
text-2-color = gray-3-dark

// Dark mode colors.
background-0-dark = black
background-1-dark = gray-6-dark
background-2-dark = gray-4-dark
border-color-dark = gray-4-dark
text-1-color-dark = gray-5
text-2-color-dark = gray-2

// Dimensions.
button-height = rem(44)
button-width = rem(44)
content-max-width = rem(400)
input-height = rem(32)
label-width = rem(72)

// Transitions.
transition = .3s
transition-slow = .5s
