// Brand colors.
BRAND_RED = #b22222 // firebrick
BRAND_ORANGE = #ff7a00

// Link colors.
LINK_COLOR = #0079fd
LINK_COLOR_DARK = #0a84fe

// Warnings.
WARNING_BACKGROUND = #f8d7da
WARNING_COLOR = #721c24

// Grays palette.
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color
GRAY_1 = rgb(142, 142, 147)
GRAY_2 = rgb(174, 174, 178)
GRAY_3 = rgb(199, 199, 204)
GRAY_4 = rgb(209, 209, 214)
GRAY_5 = rgb(229, 229, 234)
GRAY_6 = rgb(242, 242, 247)

GRAY_1_DARK = rgb(142, 142, 147)
GRAY_2_DARK = rgb(99, 99, 102)
GRAY_3_DARK = rgb(72, 72, 74)
GRAY_4_DARK = rgb(58, 58, 60)
GRAY_5_DARK = rgb(44, 44, 46)
GRAY_6_DARK = rgb(28, 28, 30)

// Default light mode colors.
BACKGROUND_0 = white
BACKGROUND_1 = GRAY_6
BACKGROUND_2 = GRAY_3
BORDER_COLOR = GRAY_3
TEXT_PRIMARY_COLOR = black
TEXT_SECONDARY_COLOR = GRAY_3_DARK

// Dark mode colors.
BACKGROUND_0_DARK = black
BACKGROUND_1_DARK = GRAY_6_DARK
BACKGROUND_2_DARK = GRAY_4_DARK
BORDER_COLOR_DARK = GRAY_4_DARK
TEXT_PRIMARY_COLOR_DARK = GRAY_5
TEXT_SECONDARY_COLOR_DARK = GRAY_2

// Blurry backgrounds.
BACKDROP_EFFECT = blur(10px)

// Header background with no backdrop_filter support.
HEADER_BACKGROUND = rgba(white, .95)
HEADER_BACKGROUND_DARK = rgba(black, .95)

// Header background with blur effect.
HEADER_BACKDROP_BACKGROUND = rgba(white, .65)
HEADER_BACKDROP_BACKGROUND_DARK = rgba(GRAY_6_DARK, .65)

// Dimensions.
BUTTON_HEIGHT = rem(44)
BUTTON_WIDTH = rem(44)

// Transitions.
TRANSITION = .3s
TRANSITION_SLOW = .5s
