// @mixin
// @param Color color
// @param String size
// @param String direction
css-triangle(color, size, direction)
  if direction == 'up'
    border-bottom size solid color
    border-left size solid transparent
    border-right size solid transparent
  if direction == 'down'
    border-left size solid transparent
    border-right size solid transparent
    border-top size solid color
  if direction == 'right'
    border-bottom size solid transparent
    border-left size solid color
    border-top size solid transparent
  if direction == 'left'
    border-bottom size solid transparent
    border-right size solid color
    border-top size solid transparent
  height 0
  width 0
