body
  background var(--background-0)
  color var(--text-1-color)
  display grid
  grid-template:
    'header' var(--header-height) \
    'main' 1fr / 1fr  
  min-height 100vh // fallback
  min-height calc(var(--vh, 1vh) * 100)
