// [1] Formatting hack to render vanilla CSS function instead of calling
// built-in Stylus function.
body
  background var(--background-0)
  color var(--text-1-color)
  display grid
  grid:
    'header' var(--header-height) \
    'main' 
  min-height 'max(var(--vh, 100vh), 100vh)' % null // [1]
