body
  background var(--background-0)
  color var(--primary-text-color)
  display grid
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 500
  grid 'header' var(--header-height) 'main' / 1fr
  margin 0
  min-height 100vh
  min-height -webkit-fill-available
  padding 0 0 env(safe-area-inset-bottom)
  place-content center
