header
  background var(--header-background)
  block-size var(--header-height)
  inset-block 0 auto
  inset-inline 0
  padding-block env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  z-index 2

  @supports (backdrop-filter BACKDROP_EFFECT)
    backdrop-filter BACKDROP_EFFECT
    background var(--header-backdrop-background)

header > div
  align-items center
  block-size var(--header-height)
  display flex
  justify-content space-between
  margin-inline auto
  max-inline-size var(--main-max-width)
  padding-inline var(--site-padding)

header h1
  font-size var(--header-font-size)
  line-height 1
  margin-block 0
  white-space nowrap
