header
  background var(--header-background)
  height var(--header-height)
  left 0
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  right 0
  top 0
  z-index 2

  @supports (backdrop-filter backdrop-effect)
    backdrop-filter backdrop-effect
    background var(--header-backdrop-background)

  & > div
    align-items center
    display flex
    height var(--header-height)
    justify-content space-between
    margin 0 auto
    max-width content-max-width
    padding 0 var(--site-padding)

  h1
    font-size var(--header-font-size)
    line-height 1
    margin 0
    white-space nowrap
