@font-face
  font-display swap
  font-family 'Avenir Variable'
  font-weight 1 999
  src url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2')

*
  box-sizing border-box
  user-select none

html
  height -webkit-fill-available
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

a
  color var(--link-color)
  text-decoration none

a:focus
  outline none

[no-touch] a
  transition color TRANSITION ease-out

table
  border-collapse collapse
  width 100%

input
button
  appearance none
  background 0
  border 0
  margin 0
  padding 0
  user-select auto

a:focus
input:focus
button:focus
  outline 0

input[type='radio']
  height 0
  width 0

input[type='text']
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 500

  &:focus
    border-color var(--text-1-color)

  &:invalid
    color var(--invalid-color)

svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

svg path
  fill currentColor
