@font-face
  font-display swap
  font-family 'Avenir Variable'
  font-weight 1 999
  src url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2')

*
  box-sizing border-box
  user-select none

html
  block-size -webkit-fill-available
  -webkit-tap-highlight-color transparent
  text-size-adjust none

body
  background var(--fill-0)
  color var(--primary-text-color)
  display grid
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 500
  grid 'header' var(--header-height) 'main' / 1fr
  margin 0
  min-height 100dvh
  min-height -webkit-fill-available
  padding-block 0 env(safe-area-inset-bottom)
  place-content center

main
  background var(--fill-1)
  border-radius 1rem
  display grid
  gap var(--main-gap)
  grid var(--main-grid)
  grid-area main
  justify-self center
  max-inline-size var(--main-max-width)
  padding-block 0 env(safe-area-inset-bottom)

[no-js] main
  align-items center
  grid unset

a
  color var(--link-color)
  text-decoration none

a:focus
  outline none

[no-touch] a
  transition color var(--transition) ease-out

table
  border-collapse collapse
  width 100%

input
button
  appearance none
  background 0
  border 0
  margin 0
  padding 0
  user-select auto

a:focus
input:focus
button:focus
  outline none

input[type='radio']
  block-size 0
  inline-size 0

input[type='text']
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 500

  &:focus
    border-color var(--primary-text-color)

  &:invalid
    color var(--invalid-color)

svg
  block-size auto
  inline-size 100%
  pointer-events none
  vertical-align middle

svg path
  fill currentColor
