main
  display grid
  gap var(--main-gap)
  grid var(--main-grid)
  grid-area main
  justify-self center
  max-width var(--main-max-width)
  padding 0 0 env(safe-area-inset-bottom)

[no-js] main
  align-items center
  grid unset
