main
  display grid
  grid:
    'user-values' \
    'zig-zag' 1fr
  grid-area main
  justify-self center
  max-width content-max-width
  padding 0 var(--site-padding) env(safe-area-inset-bottom)

  [no-js] &
    align-items center
    grid unset
