main
  display grid
  grid-area main
  grid-template-areas:
    'user-values'\
    'zig-zag'
  grid-template-columns 1fr
  grid-template-rows auto 1fr
  justify-self center
  max-width content-max-width
  min-height calc((var(--vh) * 100) - var(--header-height))
  padding 0 var(--site-padding)
  width 100%

  [no-js] &
    align-items center
    grid-template-rows 1fr
    text-align center
