body
  // Layout.
  --button-size 2.75rem
  --header-height 3rem
  --input-height 2rem
  --label-width 4rem
  --main-grid 'values' 'results' 'graph' 1fr '.' 0 / 1fr
  --main-gap 2rem
  --main-max-width 24rem
  --site-padding 1rem
  --transition .3s
  --transition-slow .5s

  // Typography.
  --copy-font-size .875em
  --h1-font-size 1em
  --h2-font-size .9375em
  --h3-font-size .875em
  --header-font-size 1rem

  // Theming.
  // Gray colors are taken from Apple HIG.
  // @see https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color
  --background-0 white
  --background-1 rgb(242, 242, 247)  // Gray 6
  --background-2 rgb(199, 199, 204)  // Gray 3
  --border-color rgb(199, 199, 204)  // Gray 3
  --brand-red #b22222  // Firebrick
  --brand-orange #ff7a00
  --header-backdrop-background rgba(white, .65)
  --header-background rgba(white, .95)
  --invalid-color var(--brand-red)
  --link-color #0079fd
  --primary-text-color black
  --secondary-text-color rgb(72, 72, 74)  // Gray 3 Dark
  --warning-background #f8d7da
  --warning-color #721c24

@media (orientation: landscape)
  body
    --main-grid 'results values' 'graph values' auto / 1fr 1fr
    --main-max-width 50rem

@media (min-width 50rem)
  body
    --copy-font-size 1rem
    --h1-font-size 1.25em
    --h2-font-size 1.125em
    --h3-font-size 1em
    --header-font-size 1.25rem
    --header-height 5rem

@media (prefers-color-scheme dark)
  body
    // Dark mode theming.
    --background-0 black
    --background-1 rgb(28, 28, 30)  // Gray 6 Dark
    --background-2 rgb(58, 58, 60)  // Gray 4 Dark
    --border-color rgb(58, 58, 60)  // Gray 4 Dark
    --header-backdrop-background rgba(28, 28, 30, .65)  // Gray 6 Dark
    --header-background rgba(black, .95)
    --invalid-color var(--brand-orange)
    --link-color #0a84fe
    --primary-text-color rgb(229, 229, 234)  // Gray 5
    --secondary-text-color rgb(174, 174, 178)  // Gray 2
