body
  // Layout.
  --button-size 2.75rem
  --gap clamp(1rem, .5rem \+ 2vw, 2rem)
  --header-height 3rem
  --input-height 2rem
  --label-width 4rem
  --main-grid 'values' 'results' 'graph' 1fr '.' 0 / 1fr
  --main-gap 2rem
  --main-max-width 24rem

  // Typography.
  --copy-font-size .875em
  --h1-font-size 1em
  --h2-font-size .9375em
  --h3-font-size .875em
  --header-font-size 1rem

  // Theming.
  // Gray colors are taken from Apple HIG.
  // @see https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color
  --background-0 rgb(255, 255, 255)
  --background-1 rgb(242, 242, 247)  // Gray 6
  --background-2 rgb(199, 199, 204)  // Gray 3
  --body-background: var(--background-0)
  --main-background: var(--background-0)
  --border-color rgb(199, 199, 204)  // Gray 3
  --brand-red rgb(178, 34, 34)// Firebrick
  --brand-orange rgb(255, 122, 0)
  --header-backdrop-background rgba(255, 255, 255, .65)
  --header-background rgba(255, 255, 255, .95)
  --invalid-color var(--brand-red)
  --link-color rgb(0, 121, 253)
  --primary-text-color rgb(0, 0, 0)
  --secondary-text-color rgb(72, 72, 74)  // Gray 3 Dark
  --warning-background rgb(248, 215, 218)
  --warning-color rgb(114, 28, 36)

  // Animations and transition.
  --transition .3s
  --transition-slow .5s

@media (orientation: landscape)
  body
    --body-background: var(--background-1)
    --main-gap 0
    --main-grid 'values results' 'values graph' auto / 1fr 1fr
    --main-max-width 50rem
    --results-margin-block 2rem 0
    --values-place-self center

@media (min-width 50rem)
  body
    --copy-font-size 1rem
    --h1-font-size 1.25em
    --h2-font-size 1.125em
    --h3-font-size 1em
    --header-font-size 1.25rem
    --header-height 5rem

@media (prefers-color-scheme dark)
  body
    // Dark mode theming.
    --background-0 rgb(0, 0, 0)
    --background-1 rgb(28, 28, 30)  // Gray 6 Dark
    --background-2 rgb(58, 58, 60)  // Gray 4 Dark
    --border-color rgb(58, 58, 60)  // Gray 4 Dark
    --header-backdrop-background rgba(28, 28, 30, .65)  // Gray 6 Dark
    --header-background rgba(0, 0, 0, .95)
    --invalid-color var(--brand-orange)
    --link-color rgb(10, 132, 254)
    --primary-text-color rgb(229, 229, 234)  // Gray 5
    --secondary-text-color rgb(174, 174, 178)  // Gray 2
