// The custom element displays as a tray containing radio buttons.
radio-buttons
  align-items center
  background var(--marker-canvas-background)
  border-radius 8px
  display flex
  padding 4px
  position relative
  z-index 1

// The marker that slides over to and sits underneath the checked radio button.
radio-buttons::after
  background var(--marker-background)
  border-radius 4px
  content ''
  display block
  height var(--height)
  left var(--left)
  position absolute
  top 4px
  transition left transition ease-out, width transition ease-out
  width var(--width)
  z-index -1

// Each radio button is within a <label> for easier clicking and the text
// of each <label> is within a <span> for sibling element styling.
radio-buttons > label
  flex 1

radio-buttons > label > span
  height input-height
