// The custom element displays as a tray containing radio buttons.
radio-buttons
  align-items center
  background var(--fill-2)
  border-radius 8px
  display flex
  padding 4px
  position relative
  z-index 1

// Marker underneath the radio buttons that slides over to the checked one.
radio-buttons::after
  background var(--fill-3)
  block-size var(--height)
  border-radius 4px
  content ''
  display block
  inline-size var(--width)
  left var(--left)
  position absolute
  top 4px
  transition left var(--transition) ease-out, inline-size var(--transition) ease-out
  z-index -1

// Each radio button is within a <label> for easier clicking, and the text
// of each <label> is within a <span> for sibling element styling.
radio-buttons > label
  flex 1

radio-buttons > label > span
  block-size var(--input-height)
