calories-values {
  --toggle-size: 1.5rem;

  display: block;
  grid-area: values;
  place-self: end stretch;

  [disabled] {
    opacity: .3;
    pointer-events: none;
  }

  form {
    display: flex;
    flex-flow: column;
    gap: .75em;
  }

  fieldset {
    border: 0;
    opacity: 1;
    padding: 0;
    transition: opacity var(--transition);
  }

  h2 {
    display: flex;
    font-size: 1em;
    margin-block: .5em;
  }

  h2 > span {
    margin-inline: auto 0;
    opacity: var(--text-opacity);
  }

  // Lists for radio buttons.
  :is(ul, li) {
    align-items: center;
    display: flex;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  // Metric/Imperial units toggle.
  [id='units'] {
    background-color: var(--fill-2);
    block-size: var(--input-height);
    border: 2px solid var(--fill-2);
    border-radius: var(--input-height);
    color: inherit;
    cursor: pointer;
    display: block;
    font: var(--font);
    font-size: .9em;
    font-variation-settings: 'wght' 500;
    inline-size: 5em;
    inset-block: calc(50% - calc(var(--input-height) / 2)) auto;
    inset-inline: auto 0;
    padding-inline: .75em;
    position: absolute;
    transition: background-color var(--transition), border-color var(--transition), opacity var(--transition), transform var(--transition);
    white-space: nowrap;

    // Units toggle text.
    span {
      opacity: .7;
      pointer-events: none;
      transition: opacity var(--transition);
    }

    &:focus-visible {
      border-color: var(--text-color);
      
      span {
        opacity: 1;
      }
    }

    &.touch {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--fill-4);
        border-color: var(--fill-4);
        
        span {
          opacity: 1;
        }
      }

      &:active {
        transform: scale(.8);
      }
    }
  }

  // Adjustments for individual sections and fields.
  [id='measurements'] {
    position: relative;
  }

  [id='measurements'] ul {
    flex-wrap: wrap;
    gap: .75rem;
  }

  :where(.age, .height, .weight) {
    flex: 0 0 100%;
  }

  // Wrapper for <input> and <span> elements.
  label {
    cursor: pointer;
    display: flex;
    outline: none;
  }

  label:where([for='age'], [for='height'], [for='weight']) {
    inline-size: var(--label-width);
  }

  // Text inputs.
  [type='text'] {
    background-color: var(--fill-2);
    block-size: var(--input-height);
    border: 2px solid var(--fill-1);
    border-radius: 6px;
    box-sizing: content-box;
    color: var(--text-color);
    font-size: 1em;
    inline-size: 3.5rem;
    padding-inline: .5rem;
    text-align: end;
  }

  .units {
    margin-inline: .5em;
    opacity: var(--text-opacity);
    pointer-events: none;
  }

  // Text labels for radio buttons.
  [type='radio'] + span {
    align-items: center;
    border-radius: 2px;
    display: flex;
    inline-size: 100%;
    justify-content: center;
    pointer-events: none;
    transition: opacity var(--transition);
  }

  [type='radio']:not(:checked) + span {
    opacity: var(--text-opacity);
  }

  label:focus-visible > [type='radio'] + span {
    opacity: 1;
  }

  @media (any-hover: hover) {
    label:hover > [type='radio'] + span {
      opacity: 1;
    }
  }
}

