- const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

ul(id="zig-zag")
  each day, index in days
    li
      label #{days[index]}
      results-counter
app-expandable(
  label="zig-zag calories"
  target="zig-zag"
  watch="results"
)
