- const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

ol(id="zig-zag")
  each day, index in days
    li
      label #{days[index]}
      number-ticker
app-expandable(
  label="zig-zag calories"
  target="zig-zag"
  watch="results"
)
