zig-zag
  display flex
  flex-direction column
  grid-area zig-zag

zig-zag expand-able
  margin 2rem auto
  order 2

zig-zag ol
  margin 0
  order 1
  overflow hidden
  padding 0
  transition height TRANSITION_SLOW ease-out, margin TRANSITION_SLOW ease-out
  will-change height

zig-zag ol[aria-hidden='true']
  margin 0

zig-zag li
  background var(--background-2)
  border-radius 0 4px 4px 0
  display flex
  margin .375rem 0
  padding .375rem .5rem
  transition background TRANSITION, color TRANSITION, width TRANSITION_SLOW ease-out

zig-zag label
  color var(--secondary-text-color)
  flex 1
  margin-right .5rem
  transition opacity TRANSITION_SLOW ease-out

zig-zag .warning
  background WARNING_BACKGROUND

zig-zag .warning
zig-zag .warning > label
  color WARNING_COLOR

[no-js] zig-zag
  display none
