svg(
  class=`icon icon--${name}`
  viewbox="0 0 24 24"
  aria-hidden="true"
)
  if name === 'close'
    path(d="M5,5 L19,19 M5,19 L19,5")
  if name === 'info'
    circle(cx="12" cy="12" r="12")
    circle(cx="12" cy="5" r="2")
    path(d="M9,10 L12,10 L12,18 M9,18 L15,18")
