info-toggle
  border-radius 50%
  cursor pointer
  display flex
  height button-height
  margin-right rem(-12)
  opacity 1
  outline 0
  transition opacity transition-slow ease-out, transform transition
  width button-width

  &[pending]
    opacity 0
    visibility hidden

  &:focus
    transform scale(1.25)

  &:active
    transform scale(.85)

  [no-touch] &:hover
    opacity .75

  svg
    flex 0 0
    pointer-events none
    margin auto

  .info
    flex-basis rem(20)

  .close
    flex-basis rem(24)
