info-toggle
  align-items center
  color var(--app-link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  margin 0 rem(-12) 0 auto
  opacity 1
  transition color transition, opacity transition-slow ease-out, transform transition
  width button-width

  &[pending]
    opacity 0
    visibility hidden

  &:focus
  &:active
  [no-touch] &:hover
    color var(--app-link-active)

  &:active
    transform scale(.8)

  svg
    flex 0 0

  .info
    flex-basis rem(20)

  .close
    flex-basis rem(24)
