@import 'functions'

// -----------------------------------------------------------------------------
// Colors.

// @const String
BRAND_RED = #b22222 // firebrick

// @const String
BRAND_ORANGE = #ff7a00

// @const String
DARK_GREY = #222

// @const String
LINK_COLOR_LIGHT = #0070c9

// @const String
LINK_COLOR_DARK = #008eff

// @const String
TEXT_OPACITY = .7

// -----------------------------------------------------------------------------
// Dimensions.

// @const String
BUTTON_HEIGHT = rem(44)

// @const String
BUTTON_WIDTH = rem(44)

// @const String
CONTENT_MAX_WIDTH = rem(400)

// @const String
INPUT_HEIGHT = rem(32)

// -----------------------------------------------------------------------------
// Transitions.

// @const String
TRANSITION = .3s

// @const String
TRANSITION_SLOW = .5s

// -----------------------------------------------------------------------------
// Calculated constants and breakpoints.

// @type Hash
Breakpoint = {
  // SMALL:  'screen and (min-width: %s)' % rem(420)
  MEDIUM: 'screen and (min-width: %s)' % rem(640)
  // LARGE:  'screen and (min-width: %s)' % rem(960)
}
