@import 'functions'

// @type Hash
Branding = {
  RED: #b22222 // firebrick
  ORANGE: #ff7a00
}

// @const String
BUTTON_HEIGHT = px_to_rem(44)

// @const String
DARK_GREY = #222

// @const String
CONTENT_MAX_WIDTH = px_to_rem(400)

// @const String
GRID_GAP = px_to_rem(16)

// @const String
INPUT_HEIGHT = 2rem

// @const String
TEXT_OPACITY = .7

// -----------------------------------------------------------------------------
// Calculated constants and breakpoints

// @type Hash
Breakpoint = {
  SMALL:  'screen and (min-width: %s)' % px_to_rem(420)
  MEDIUM: 'screen and (min-width: %s)' % px_to_rem(640)
  LARGE:  'screen and (min-width: %s)' % px_to_rem(960)
}
