@import 'functions'

// -----------------------------------------------------------------------------
// Colors.

brand-red = #b22222 // firebrick
brand-orange = #ff7a00
grey-dark = #222
link-color-light = #0070c9
link-color-dark = #008eff
text-opacity = .7

// -----------------------------------------------------------------------------
// Dimensions.

button-height = rem(44)
button-width = rem(44)
content-max-width = rem(400)
input-height = rem(32)

// -----------------------------------------------------------------------------
// Transitions.

transition = .3s
transition-slow = .5s

// -----------------------------------------------------------------------------
// Breakpoints.

breakpoint = {
  // small:  'screen and (min-width: %s)' % rem(420)
  medium: 'screen and (min-width: %s)' % rem(640)
  // large:  'screen and (min-width: %s)' % rem(960)
}
