user-values {
  display: block;
  grid-area: values;
  place-self: end stretch;

  fieldset {
    border: 0;
    opacity: 1;
    padding: 0;
    transition: opacity var(--transition);
  }

  [disabled] {
    opacity: .3;
    pointer-events: none;
  }

  form {
    display: grid;
    gap: .75em;
    grid: auto-flow / 1fr;
  }

  h2 {
    display: flex;
    font-size: 1em;
    margin-block: .5em;
  }

  h2 > span {
    margin-inline: auto 0;
    opacity: var(--text-opacity);
  }

  // Lists for radio buttons.
  :is(ul, li) {
    align-items: center;
    display: flex;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  // Adjustments for individual sections and fields.
  [id='measurements'] ul {
    flex-wrap: wrap;
    gap: .75rem;
  }

  :where(.age, .height, .weight) {
    flex: 0 0 100%;
  }

  :where(.age, .height, .weight)::after {
    margin-inline: .5em 0;
    opacity: var(--text-opacity);
    pointer-events: none;
  }

  .height::after {
    content: 'cm';
  }

  .weight::after {
    content: 'kg';
  }

  .age::after {
    content: 'yrs.';
  }

  // Wrapper for <input> and <span> elements.
  label {
    cursor: pointer;
    display: flex;
    outline: none;
  }

  label:where([for='age'], [for='height'], [for='weight']) {
    inline-size: var(--label-width);
  }

  // Text inputs.
  [type='text'] {
    background: var(--fill-3);
    block-size: var(--input-height);
    border: 2px solid var(--fill-1);
    border-radius: 6px;
    box-sizing: content-box;
    color: var(--text-color);
    font-size: 1em;
    inline-size: 3rem;
    padding-inline: .5rem;
    text-align: end;
  }

  // Text labels for radio buttons.
  [type='radio'] + span {
    align-items: center;
    border-radius: 2px;
    display: flex;
    inline-size: 100%;
    justify-content: center;
    pointer-events: none;
    transition: opacity var(--transition);
  }

  [type='radio']:not(:checked) + span {
    opacity: var(--text-opacity);
  }

  @media (any-hover: hover) {
    label:hover > [type='radio'] + span {
      opacity: 1;
    }
  }
}

