user-values
  display block
  grid-area user-values
  margin 1rem 0 0

user-values fieldset
  border 0
  margin 0 0 1rem
  opacity 1
  padding 0
  transition opacity transition

user-values [disabled]
  opacity .3
  pointer-events none

// Tweak a few <fieldset> layouts based on their content.
user-values [id=sex]
  margin-bottom 1.5rem

user-values [id=measurements]
  margin-bottom .5rem

user-values h2
  display flex
  font-size 1rem
  margin 0 0 .5rem

user-values h2 > span
  color var(--text-2-color)
  margin-left auto

// Pull 'Sex' heading out of the viewport since its options make this obvious.
user-values [id=sex] h2
  left -100vw
  position absolute

user-values ul
user-values li
  align-items center
  display flex
  padding 0

user-values ul
  margin 0

user-values [id=measurements] ul
  flex-wrap wrap

user-values li
  margin 0 0 .75rem

user-values .weight
user-values .age
  flex 0 0 100%

user-values .feet::before
  content 'Height'
  width label-width

user-values .weight::after
user-values .age::after
  color var(--text-2-color)
  margin-left .5em
  pointer-events none

user-values .weight::after
  content 'lbs.'

user-values .age::after
  content 'yrs.'

user-values label
  display flex

user-values label:focus
  outline none

[no-touch] user-values label:hover
  cursor pointer

user-values label:focus > [type] + span
[no-touch] user-values label:hover > [type] + span
  color var(--text-1-color)
  transform scale(1.1)

user-values [for=feet]
user-values [for=inches]
  color var(--text-2-color)
  margin 0 1rem 0 .5rem
  order 2
  text-transform lowercase

user-values [for=age]
user-values [for=weight]
  width label-width

user-values label > span
  transition color transition, transform transition

user-values [type=text]
  background var(--background-2)
  border 2px solid var(--background-0)
  border-radius 6px
  box-sizing content-box
  color var(--text-1-color)
  font-size 1em
  height input-height
  padding 0 .5rem
  text-align right
  width 3rem

user-values [type=radio] + span
  align-items center
  border-radius 2px
  color var(--text-2-color)
  display flex
  justify-content center
  pointer-events none
  width 100%

user-values [type=radio]:checked + span
  color var(--text-1-color)

[no-js] user-values
  display none
