user-values
  display block
  grid-area user-values
  margin 2rem 0

user-values .group
  margin 0 0 1rem

  &[disabled]
    transition opacity transition

  &[disabled]
    opacity .3

  &[disabled] *
    pointer-events none !important

  &[disabled] *:hover
    cursor default !important

  &:not([disabled])
    opacity 1
    pointer-events auto

  &--sex
    margin-bottom 1.5rem

  &--measurements
    margin-bottom .5rem

// -----------------------------------------------------------------------------
// Lists.

user-values ul
user-values li
  align-items center
  display flex
  padding 0

user-values ul
  margin 0

  &.measurements
    flex-wrap wrap

user-values li
  margin 0 0 .75rem

  &.weight
  &.age
    flex 0 0 100%

  &.feet::before
    content 'Height'

  &.activity
  &.goal
  &.sex
    flex 1
    height input-height
    margin 0
