.values__input--text
  background var(--field-background)
  border 2px solid var(--background)
  border-radius 6px
  box-sizing content-box
  color var(--text)
  font-size 1em
  height input-height
  padding 0 .5rem
  text-align right
  width 3rem

// [1] Disable pointer events on elements within radio button labels so that
// iOS Safari can register a tap on the label.
.values__input--radio + span
  align-items center
  border-radius 2px
  display flex
  justify-content center
  opacity text-opacity
  pointer-events none // [1]
  width 100%

.values__input--radio:checked + span
  opacity 1
