app-info {
  display: contents;

  button {
    aspect-ratio: 1;
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    border-radius: var(--button-size);
    color: inherit;
    cursor: pointer;
    grid-area: info;
    inline-size: var(--button-size);
    inset-inline: auto -.75em;
    place-self: center end;
    position: relative;
    transition: opacity var(--transition), transform var(--transition);
    z-index: 3;

    [hidden] > & {
      opacity: 0;
    }

    &:focus-visible {
      background-color: var(--fill-3a);
    }

    &[aria-expanded='true'] {
      background-color: var(--fill-4a);
    }

    &.touch {
      transform: scale(.8);
    }

    @media (any-hover: hover) {
      & {
        transition: background-color var(--transition), opacity var(--transition-slow) ease-out, transform var(--transition);
      }

      &:hover {
        background-color: var(--fill-3a);
      }

      &[aria-expanded='true']:hover {
        background-color: var(--fill-4a);
      }

      &:active {
        transform: scale(.8);
      }
    }
  }

  // [1] Override defaults to enable transitions.
  dialog {
    background-color: var(--fill-1);
    block-size: 100%;
    border: none;
    color: inherit;
    display: block; // [1]
    inline-size: 100%;
    outline: none;
    overflow: auto;
    scrollbar-width: none;
    transition: transform var(--transition);
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
    }

    &[inert] {
      pointer-events: none;
      transform: translateY(var(--dialog-offset, 100%));
    }
  }

  // Content wrapper.
  article {
    margin-inline: auto;
    max-inline-size: 48ch;
    padding-block: var(--gap);
    padding-inline: var(--gap);
  }

  // Headings.
  h1 {
    font-size: var(--h1-font-size);
    grid-area: 1 / 2;
    margin-block: 0 1em;
  }

  :is(h2, h3) {
    font-variation-settings: 'wght' 600;
    margin-block: 1em .5em;
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  :is(p, table) {
    font-size: var(--copy-font-size);
  }

  // Tables.
  table {
    border-collapse: collapse;
    inline-size: 100%;
  }

  tr {
    border-bottom: 1px solid var(--gray2);
  }

  th {
    text-align: start;
  }

  :is(th, td) {
    padding-block: .5em;
  }

  :is(th, td):not(:first-child) {
    text-align: end;
  }
}

// Icon buttons.
.icon {
  inline-size: 24px;
  opacity: var(--text-opacity);
  pointer-events: none;
}

:focus-visible > .icon {
  opacity: 1;
}

@media (any-hover: hover) {
  .icon {
    transition: opacity var(--transition);
  }

  :hover > .icon {
    opacity: 1;
  }
}

.icon--close {
  path {
    stroke: var(--text-color);
    stroke-width: 2.5;
  }
}

.icon--info {
  path {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 2;
  }
}