app-info
  grid-area info
  place-self center end
  z-index 2

[id='info-toggle']
  aspect-ratio 1
  border-radius var(--button-size)
  cursor pointer
  inline-size var(--button-size)
  opacity 1
  transition background var(--transition), opacity var(--transition-slow) ease-out, transform var(--transition)

  &[pending]
    opacity 0
    visibility hidden

  &:active
    transform scale(.9)

  &:active
  &:focus
  [no-touch] &:hover
    background var(--fill-2)

.icon
  inline-size 1.25rem
  pointer-events none

.icon--close
  path
    stroke var(--text-color)
    stroke-width 2.5

.icon--info
  circle
    fill var(--fill-0)

  circle:first-of-type
    fill var(--text-color)

  path
    fill none
    stroke green
    stroke var(--fill-0)
    stroke-linecap round
    stroke-width 2.5

// Content wrapper.
[id='info-panel']
  background var(--fill-1)
  inset 0
  overflow auto
  padding-block 1rem env(safe-area-inset-bottom)
  padding-inline var(--gap)
  position absolute
  transform translateY(100dvh)
  transition transform var(--transition) ease-out
  z-index -1

  &[open]
    transform translateY(0)

  // Headings.
  h1
    font-size var(--h1-font-size)
    margin-block 0 1rem

  h2
    font-size var(--h2-font-size)
    margin-block 2rem .5rem

  h3
    font-size var(--h3-font-size)
    margin-block 1rem .5rem

  :is(p, table)
    font-size var(--copy-font-size)

  // Tables.
  tr
    border-bottom 1px solid var(--border-color)

  :is(th, td)
    padding-block .5em

  th
    text-align start

  :is(th, td):not(:first-child)
    text-align end

  // JavaScript disabled.
  [no-js] &
    display none
