app-info {
  display: contents;

  button {
    aspect-ratio: 1;
    background-color: var(--fill-2);
    border-radius: var(--button-size);
    color: inherit;
    cursor: pointer;
    grid-area: info;
    inline-size: var(--button-size);
    opacity: 1;
    place-self: center end;
    transition: background-color var(--transition), opacity var(--transition-slow) ease-out, transform var(--transition);
    z-index: 3;

    &:active {
      transform: scale(.9);
    }

    &:active,
    &:focus {
      background-color: var(--fill-3);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--fill-3);
      }
    }
  }

  // [1] Required by Safari for open/close transitions.
  dialog {
    background-color: var(--dialog-fill);
    block-size: var(--dialog-block-size, 100dvh);
    border: none;
    color: inherit;
    display: block; // [1]
    grid-area: 1 / 1 / -1 / -1;
    inline-size: 100%;
    margin: 0;
    max-block-size: var(--dialog-block-size, 100dvh);
    outline: none;
    overflow: auto;
    padding-block: var(--gap);
    padding-inline: var(--gap);
    scrollbar-width: none;
    transition: transform .5s;
    z-index: 2;

    &:not([open]) {
      pointer-events: none;
      transform: translate3d(0, 100%, 0);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Content wrapper.
  article {
    margin-inline: auto;
    max-inline-size: 48ch;
  }

  // Headings.
  h1 {
    font-size: var(--h1-font-size);
    grid-area: 1 / 2;
    margin-block: 0 1em;
  }

  :is(h2, h3) {
    font-variation-settings: 'wght' 600;
    margin-block: 1em .5em;
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  :is(p, table) {
    font-size: var(--copy-font-size);
  }

  // Tables.
  table {
    border-collapse: collapse;
    inline-size: 100%;
  }

  tr {
    border-bottom: 1px solid var(--border-color);
  }

  th {
    text-align: start;
  }

  :is(th, td) {
    padding-block: .5em;
  }

  :is(th, td):not(:first-child) {
    text-align: end;
  }
}

// Icon buttons.
.icon {
  inline-size: 1.25rem;
  pointer-events: none;
}

.icon--close {
  path {
    stroke: var(--text-color);
    stroke-width: 2.5;
  }
}

.icon--info {
  circle {
    fill: currentColor;
  }

  circle:first-of-type {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
  }

  path {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 2;
  }
}